---
---

$textmargin: 12px;
$padding: 15px;
$gray1: #1e2226;
$gray2: #2e3236;

@font-face {
	font-family: "Catamaran";
	src: url("_assets/fonts/Catamaran-Regular.ttf");
	font-style: normal;
	font-weight: 400;
	font-display: swap;
}

@font-face {
	font-family: "Catamaran";
	src: url("_assets/fonts/Catamaran-Bold.ttf");
	font-style: normal;
	font-weight: 700;
	font-display: swap;
}

html {
	height: 100%;
	box-sizing: border-box;
	overflow-wrap: break-word;
}

*, *:before, *:after {
	box-sizing: inherit; /* https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
}

body {
	height: 100%;
	margin: 0;
	padding: 0;
	overflow-y: scroll;
	
	background-color: #000;
	background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="144" height="144"><defs><symbol id="A"><path d="M81.231 73.846L96 96l22.154-14.769-14.769-22.154-22.154 14.769" fill="%23090a0b" fill-opacity="1" stroke="none"/></symbol></defs><use xlink:href="%23A" x="-22.154" y="-33.231"/><use xlink:href="%23A" x="-55.385" y="-11.077"/><use xlink:href="%23A" x="-33.231" y="22.154"/><use xlink:href="%23A"/><use xlink:href="%23A" x="-44.308" y="-66.462"/><use xlink:href="%23A" x="-77.538" y="-44.308"/><use xlink:href="%23A" x="-11.077" y="55.385"/><use xlink:href="%23A" x="22.154" y="33.231"/><use xlink:href="%23A" x="-88.615" y="11.077"/><use xlink:href="%23A" x="-66.462" y="44.308"/><use xlink:href="%23A" x="-110.769" y="-22.154"/><use xlink:href="%23A" x="-44.308" y="77.538"/><use xlink:href="%23A" x="11.077" y="-55.385"/><use xlink:href="%23A" x="33.231" y="-22.154"/><use xlink:href="%23A" x="-11.077" y="-88.615"/><use xlink:href="%23A" x="55.385" y="11.077"/><use xlink:href="%23A" x="-99.692" y="-77.538"/><use xlink:href="%23A" x="-99.692" y="66.462"/><use xlink:href="%23A" x="44.308" y="66.462"/><use xlink:href="%23A" x="44.308" y="-77.538"/><use xlink:href="%23A" x="-104.647" y="22.599"/></svg>');
	background-position: center;
	
	color: #ddd;
	font-family: "Catamaran", sans-serif;
	font-size: 18px;
	line-height: 1.3333;
	letter-spacing: 1px;
}

#wrapper {
	min-height: 100%;
	max-width: 800px;
	box-sizing: border-box;
	margin: auto;
	padding: 0;
  display: flex;
  flex-direction: column;
	background-color: #131619;
}

#content {
	padding: $padding $padding ($padding - 3px) $padding;
  flex: 1 0 auto;
}

/* #content > */ *:first-child {
	margin-top: 0;
}

/* #content > */ *:last-child {
	margin-bottom: 0;
}

header {
	height: 180px;
	box-sizing: border-box;
	position: relative;
	margin: 0;
	text-align: right;
	flex-shrink: 0;
	
	color: #ddd;
	color: rgba(255, 255, 255, 0.8);
	
	background-color: #37474f;
	background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="180" width="800"><path d="M0 0v180h360L440 0z" opacity=".1" fill="%23fff"/></svg>');
	background-position: center;
}

.header-wrapper {
	position: absolute;
	bottom: 0;
	right: 0;
	margin: 10px 20px;
	padding: 0;
	line-height: 1;
}

footer {
	margin: 0 0;
	padding: 10px $padding;
	flex-shrink: 0;
	background-color: $gray1;
	text-align: right;
	font-size: 15px;
}

h1 {
	color: #fff;
	font-size: 60px;
	font-weight: bold;
	display: inline;
}

a {
	text-decoration: none;
}

a:link {
	color: #29adff;
}

a:visited {
	color: #83769c;
}

a:hover, a:active {
	color: #754665;
}

blockquote {
	margin: $textmargin 0;
	padding: 6px 0 6px 12px;
	border-left: 3px solid $gray2;
	background: $gray1;
}

header a:link, header a:visited {
	color: #ddd;
	color: rgba(255, 255, 255, 0.8);
}

header a:hover, header a:active {
	color: #fff;
}

h2, h3, h4, h5, h6 {
	margin: $padding (-$padding);
	padding: 0 $padding;
	clear: both;
	font-weight: bold;
}

h2 {
	font-size: 45px;
	background-color: $gray2;
	text-align: center;
	margin-top: 30px;
}

h3 {
	font-size: 36px;
	border-bottom: 4px solid $gray2;
}

h4 {
	font-size: 27px;
	border-bottom: 3px solid $gray2;
}

h5 {
	font-size: 21px;
	border-bottom: 2px solid $gray2;
}

h6 {
	font-size: 16px;
	border-bottom: 1px solid $gray2;
}

hr {
	margin: 0 (-$padding);
	border: 0;
	border-bottom: 4px solid $gray2;
}

img {
	max-width: 100%;
}

p {
	margin: $textmargin 0;
}

pre {
	padding: 10px;
	background-color: #000;
	letter-spacing: 0;
}

sup, sub {
  vertical-align: baseline;
  position: relative;
}

sup {
	top: -0.4em;
}

sub { 
  top: 0.4em; 
}

ul, ol {
	margin: $textmargin 0;
	padding-left: 15px;
}

ul ul, ul ol, ol ul, ol ol {
	padding-left: 5px;
}

ul {
	list-style-type: square;
}

li {
	margin: 3px 0 3px 15px;
}

ul ul li:first-child, ul ol li:first-child, ol ul li:first-child, ol ol li:first-child { /* ew */
	margin-top: 3px;
}

ul ul li:last-child, ul ol li:last-child, ol ul li:last-child, ol ol li:last-child {
	margin-bottom: 3px;
}

li::marker {
	line-height: 0;
}

#markdown-toc {
	padding: 22px 20px 10px 20px;
	margin: 0 0 15px 15px;
	background-color: $gray1;
	float: right;
}

#markdown-toc::before {
	content: "contents";
	font-weight: bold;
	text-align: center;
	position: relative;
	top: -12px;
}

#markdown-toc + * {
	margin-top: 0;
}