---
---

$padding: 15px;
$npadding: -15px;

@font-face {
	font-family: "Catamaran";
	src: url("/_assets/fonts/Catamaran-Regular.ttf");
	font-style: normal;
	font-weight: 400;
}

@font-face {
	font-family: "Catamaran";
	src: url("/_assets/fonts/Catamaran-Bold.ttf");
	font-style: normal;
	font-weight: 700;
}

html {
	height: 100%;
}

body {
	height: 100%;
	margin: 0;
	padding: 0;
	overflow-y: scroll;
	color: #ddd;
	background-color: #000;
	font-family: "Catamaran", sans-serif;
	font-size: 18px;
	line-height: 1.2;
}

#wrapper {
	min-height: 100%;
	background-color: #131619;
	margin: auto;
	max-width: 750px;
	padding: 0 $padding;
  display: flex;
  flex-direction: column;
}

#content {
	padding: 0;
  flex: 1 0 auto;
}

.breadcrumbs {
	background-color: #1e2226;
	margin: 0 $npadding;
	padding: 7px 10px 5px 10px;
}

header {
	flex-shrink: 0;
	padding: 0;
	margin: 0;
}

footer {
	flex-shrink: 0;
}

h1 {
	color: #fff;
	font-size: 45px;
	font-weight: bold;
	background-color: #263238;
	margin: 0 $npadding;
	padding: 120px 20px 5px 20px;
	text-align: right;
}

a {
	text-decoration: none;
}

a:link {
	color: #29ADff;
}

a:visited {
	color: #83769c;
}

a:hover {
	color: #754665;
}

a:active {
	color: #754665;
}
