<!doctype html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>{% include title.html %} - {{ site.name }}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="{{- 'style.css' | relative_url -}}" rel="stylesheet" type="text/css" media="all">
	</head>
	<body>
		<div id="outer">
      <div id="inner">
				<header>
					<h1{% if page.header %} style="background-color: #{{ page.header }};"{% endif %}>{% include title.html %}</h1>
        {% include breadcrumbs.html %}
				</header>
        <article id="content">
          {{ content }}
        </article>
				<footer>
					{% include breadcrumbs.html %}
				</footer>
			</div>
    </div>
	</body>
</html>
