{%- assign crumbs = page.url | remove: '/index.html' | split: '/' -%}
{%- if page.title -%}
	{%- assign title = page.title -%}
{%- else -%}
	{%- assign title = crumbs | last | replace:"-"," " -%}
{%- endif -%}
{%- assign crumbs = crumbs | pop -%}
{%- capture root -%}{%- for i in crumbs -%}../{%- endfor -%}{%- endcapture -%}
<!doctype html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>{{ title }} - {{ site.title }}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="{{ root }}style.css" rel="stylesheet" type="text/css" media="all">
	</head>
	<body>
		<div id="wrapper">
			<header{% if page.color %} style="background-color: #{{ site.data.colors | where: "name", page.color | map: "hex" | default: page.color }};"{% endif %}>
				<div class="header-wrapper">
					{% for crumb in crumbs %}<a href="{% assign crumb_limit = forloop.index %}{% for crumb in crumbs limit: crumb_limit %}{{ crumb | append: "/" }}{% endfor %}">{{ crumb | replace:"-", " " | remove: ".html" | default:"home" }}</a>&nbsp;› {% endfor %}
					<span class="title">{{ title }}</span>
				</div>
			</header>
			<article id="content">
				{{ content }}
			</article>
			<footer>
				footer stuff here eventually
			</footer>
		</div>
	</body>
</html>
