{%- assign crumbs = page.url | remove: '/index.html' | split: '/' -%}
{%- if page.title -%}
	{%- assign title = page.title -%}
{%- else -%}
	{%- assign title = crumbs | last | replace: "-", " " -%}
{%- endif -%}
{%- assign crumbs = crumbs | pop -%}
{%- capture root -%}{%- for i in crumbs -%}../{%- endfor -%}{%- endcapture -%}
{%- assign color_name = page.color | default: "default" -%}
{%- assign color = site.data.colors | where: "name", color_name | map: "hex" | default: color_name -%}
{%- capture crumbs_title -%}
	{%- for crumb in crumbs -%}
		{%- if forloop.first -%}{%- continue -%}{%- endif -%}
		{%- assign crumb_url = crumbs | slice: 0, forloop.index | join: "/" | append: "/" -%}
		{%- assign crumb_fallback = crumb | replace: "-", " " -%}
		{{- site.pages | where: "url", crumb_url | map: "title" | first | default: crumb_fallback | replace: '"', '&quot;' }} › {% endfor -%}
	{{- title -}}
{%- endcapture -%}
<!doctype html>
<html lang="en" prefix="og: https://ogp.me/ns#">
	<head>
		<meta charset="UTF-8">
		<title>{{ crumbs_title }} - {{ site.title }}</title>
		<link href="{{ root }}style.css" rel="stylesheet" type="text/css" media="all">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="twitter:card" content="summary">
		<meta name="twitter:site" content="@hecko_yes">
		<meta name="twitter:creator" content="@hecko_yes">
		<meta property="og:title" content="{{ crumbs_title | replace: '"', '&quot;' }}">
		<meta property="og:type" content="website">
		<meta property="og:url" content="{{ page.url | absolute_url }}">
		<meta property="og:site_name" content="{{ site.title | replace: '"', '&quot;' }}">
		{%- if page.excerpt %}
		<meta property="og:description" content="{{ page.excerpt | replace: '"', '&quot;' }}">
		<meta name="description" content="{{ page.excerpt | replace: '"', '&quot;' }}">
		{% endif -%}
		<meta name="darkreader-lock">
		<meta name="theme-color" content="#{{ color }}">
		<style>:root {--color: #{{ color }};}</style>
	</head>
	<body data-instant-intensity="mousedown">
		<div id="wrapper">
			<header style="background-color: #{{ color }};">
				<div class="header-wrapper">
					{%- for crumb in crumbs -%}
						{%- assign crumb_url = crumbs | slice: 0, forloop.index | join: "/" | append: "/" -%}
						{%- assign crumb_fallback = crumb | replace: "-", " " -%}
						<a href="{{ crumb_url }}">
							{{- site.pages | where: "url", crumb_url | map: "title" | first | default: crumb_fallback -}}
						</a>&nbsp;› {% endfor -%}
					<h1>{{ title }}</h1>
				</div>
			</header>
			<main{% if page.copyrighted %} class="copyrighted"{% endif %}>
				{{ content | replace: "<p>", "<div><p>" | replace: "<p ", "<div><p " | replace: "</p>", "</p></div>" | replace: "<br />", "</p><p>" }}
			</main>
			<footer>
				<p>the parts of this site that are mine (so excluding quotes, art from others, etc) are licensed under <a href="http://creativecommons.org/publicdomain/zero/1.0/">cc0</a> (<a href="{{ root }}cc0/">info</a>)</p>
				<p><a href="https://github.com/Sobsz/sobsz.github.io/blob/master/{{ page.path }}">source and old versions</a></p>
			</footer>
		</div>
	<script src="{{ root }}script.js" type="module"></script>
	</body>
</html>
